include ../../helpers/mixins

+projectImport('backbone.html')
+projectImport('masonry.html')
+projectImport('imagesLoaded.html')

script.
  window.ImagesCollection = Backbone.Collection.extend({});
  window.images = new ImagesCollection();
  images.on('all', function(type, model) {
    var photos = model.get('photos');
    var url = model.get('url');
    var $container = $('#tumblr-container');
    var photoKey = 'photo-url-250';
    if( !photos.length) {
      photos = [model.get(photoKey)];
    } else {
      photos = _.pluck(photos, photoKey);
    }
    _.each(photos, function(photo) {
      var img = document.createElement('img');
      img.src = photo;
      var link = document.createElement('a');
      link.href = url;
      link.target = '_blank';
      $(link).append(img);
      $container.append(link);
      //$container.append(img);
    });
    $container.imagesLoaded(function(){
      $container.masonry({
        columnWidth: 'a',
        itemSelector: 'a'
      });
    });
  });