include ../../helpers/mixins

+projectImport('vendor/polymer-jsonp/polymer-jsonp.html')
polymer-jsonp#tumblr-data(url!="http://simloovoo.tumblr.com/api/read/json?type=photo&num=50&start=0&callback=", auto)
  