@import _globals

global-reset()

body
  min-width 100%
  background-color bgColor
  color fgColor

#wrapper
  max-width 1250px
  margin 0 auto

header
  font-size 200%
  padding 10% 10% 0
  h1, h2, h3
    line-height 150%
    font-family Baskerville, serif
  h1
    font-size 150%
  h2
    font-size 120%
  a
    color aliceblue
    text-decoration none
    &:hover, &:active
      text-decoration underline
    &:visited
      color aliceblue

#tumblr-container
  width 80%
  padding 10% 10%

  a
    display block
    width 20%
    font-size 0
    line-height 0

    img
      width 100%

footer
  padding 5% 10%

.github-ribbon
  display block
  z-index 99
  position fixed
  top 0
  right 0
  border 0
  background-image linear-gradient(top right, #fff, transparent 33%)
